
// A shorthand property for all the the animation properties, except the animation-play-state property
animation()
    _vendors('animation', arguments)



// Specifies the name of the @keyframes animation
animation-name()
    _vendors('animation-name', arguments)

// Specifies how many seconds or milliseconds an animation takes to complete one cycle. Default 0
animation-duration()
    _vendors('animation-duration', arguments)

// Describes how the animation will progress over one cycle of its duration. Default "ease"
animation-timing-function()
    _vendors('animation-timing-function', arguments)

// Specifies when the animation will start. Default 0
animation-delay()
    _vendors('animation-delay', arguments)

// Specifies the number of times an animation is played. Default 1
animation-iteration-count()
    _vendors('animation-iteration-count', arguments)

// Specifies whether or not the animation should play in reverse on alternate cycles. Default "normal"
animation-direction()
    _vendors('animation-direction', arguments)

// Specifies whether the animation is running or paused. Default "running"
animation-play-state()
    _vendors('animation-play-state', arguments)
