
transition()
    _vendors('transition', arguments)

transition-delay()
    _vendors('transition-delay', arguments)

transition-duration()
    _vendors('transition-duration', arguments)

transition-property()
    _vendors('transition-property', arguments)

transition-timing-function()
    _vendors('transition-timing-function', arguments)
