
transition()
    _vendors('transition', arguments, webkit moz ms o)

transition-delay()
    _vendors('transition-delay', arguments, webkit moz ms o)

transition-duration()
    _vendors('transition-duration', arguments, webkit moz ms o)

transition-property()
    _vendors('transition-property', arguments, webkit moz ms o)

transition-timing-function()
    _vendors('transition-timing-function', arguments, webkit moz ms o)
