
// A shorthand property for all the the animation properties, except the animation-play-state property
animation()
    vendors('animation', arguments, webkit moz ms o)



// Specifies the name of the @keyframes animation
animation-name()
    vendors('animation-name', arguments, webkit moz ms o)

// Specifies how many seconds or milliseconds an animation takes to complete one cycle. Default 0
animation-duration()
    vendors('animation-duration', arguments, webkit moz ms o)

// Describes how the animation will progress over one cycle of its duration. Default "ease"
animation-timing-function()
    vendors('animation-timing-function', arguments, webkit moz ms o)

// Specifies when the animation will start. Default 0
animation-delay()
    vendors('animation-delay', arguments, webkit moz ms o)

// Specifies the number of times an animation is played. Default 1
animation-iteration-count()
    vendors('animation-iteration-count', arguments, webkit moz ms o)

// Specifies whether or not the animation should play in reverse on alternate cycles. Default "normal"
animation-direction()
    vendors('animation-direction', arguments, webkit moz ms o)

// Specifies whether the animation is running or paused. Default "running"
animation-play-state()
    vendors('animation-play-state', arguments, webkit moz ms o)