// dependency import
@import "components/chameleonui-utils/stylus/vendors"

// local css3 library import
@import "stylus/animation"
@import "stylus/backface-visibility"
@import "stylus/background-size"
@import "stylus/border-image"
@import "stylus/border-radius"
@import "stylus/box-shadow"
@import "stylus/box-sizing"
@import "stylus/filter"
@import "stylus/font-smoothing"
@import "stylus/opacity"
@import "stylus/perspective"
@import "stylus/text-overflow"
@import "stylus/transform"
@import "stylus/transition"


// test cases

@keyframes foo
    to
        background-color: #DD6031

.animation
    animation: foo 5s

.opacity
    opacity: .5

.border-radius
    border-radius: 4px
    border-radius: 4px 6px 0 0

.transition
    transition: max-height .3s ease-in

.transform
    transform: rotate(7deg), translate(20%), skew(20deg)

.box-shadow
    box-shadow: 0 0 0 #fff, 0px 2px 1px 20px #cccccc
