
opacity()
    filter\ unquote('aplha(opacity=' + (arguments * 100) + ')')
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + (arguments * 100) + ")"
    filter\ unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=" + (arguments * 100) + ")")
    -moz-opacity: arguments
    -khtml-opacity: arguments
    opacity: arguments