
transition()
    vendors('transition', arguments, webkit moz ms o)


    
transition-delay()
    vendors('transition-delay', arguments, webkit moz ms o)

transition-duration()
    vendors('transition-duration', arguments, webkit moz ms o)

transition-property()
    vendors('transition-property', arguments, webkit moz ms o)

transition-timing-function()
    vendors('transition-timing-function', arguments, webkit moz ms o)